---
import clsx from "clsx";

const { class: className } = Astro.props;
---

<div
    class={clsx(
        "card text-black/60 block aspect-square relative transition-all duration-300 rounded-[20px] hover:-top-0.5 bg-neutral-50 -mt-1 mb-1 -ml-1 card-clip",
        className
    )}
>
    <slot />
</div>
