---
const { height, alt, src } = Astro.props;
---

<div class={`card--image`}>
    <img
        src={src}
        height={height}
        alt={alt}
        loading="lazy"
        class={`object-cover aspect-auto `}
    />
</div>
