---
import clsx from "clsx";

const { class: className } = Astro.props;
---

<div
    class={clsx(
        " block aspect-square relative transition-all duration-300 border-4 shadow-red-200 shadow-xl border-red-500 hover:scale-105 cursor-pointer bg-black",
        className
    )}
>
    <slot />
</div>
