---
import SEO from "@/components/SEO.astro"

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang='es'>
  <head>
    <SEO title={title} description={description} />
  </head>
  <body>
    <main>
      <slot />
    </main>

    <section class='mt-16'>
      <footer class='py-14 bg-black'>
        <div class='max-w-4xl mx-auto grid gap-2'>
          <h2 class='font-bold text-3xl text-white-50'>
            Descubre tu talento en el patinaje
          </h2>
          <p class='text-neutral-400 font-medium text-2xl'>
            Te ayudamos a ser un maestro de las calles en el arte del patinaje,
            nuestros productos son lo mejor para elevar tu nivel
          </p>
        </div>
      </footer>
    </section>
  </body>
</html>
